[submodule "modules/external/utils/raylib"]
	path = modules/external/utils/raylib
	url = https://github.com/raysan5/raylib
[submodule "modules/external/modules/external/opencv"]
	path = modules/external/modules/external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "modules/external/opencv"]
	path = modules/external/opencv
	url = https://github.com/opencv/opencv.git
[submodule "modules/external/Vulkan-Hpp"]
	path = modules/external/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
[submodule "modules/external/json"]
	path = modules/external/json
	url = https://github.com/nlohmann/json.git
